/* basic elements */

body {
    text-align: center;
}

/* classes */

.message {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: darkred;
}

/* make sure there's always some content on the element, so it keeps the same height even with an empty value */
.message:empty::before {
    content: "\200b"; /* unicode zero width space character */
}

.button {
    cursor: pointer;
    color: blue;
    margin: 4px;
    padding: 4px;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.1);
}

.selected {
    background-color: rgba(70, 50, 150, 0.1);
}

.weatherCondition {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.date {
    font-weight: bold;
}

.degreeCanvas {
    vertical-align: middle;
    margin: 1px 5px;
}

.value {
    color: blue;
}

.chartCanvas {
    margin: 20px 0;
}

.weatherItem:nth-child(odd) {
    background-color: rgba(0, 0, 255, 0.1);
}

.horizontalList {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontalList > li {
    display: inline-block;
}

.infoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin: 10px;
}

.infoList > div {
    margin: 10px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loading {
    width: 25px;
    height: 25px;
}

/* specific elements */

#WeatherInfoContainer > div {
    display: inline-block;
    margin: 10px 0;
}

#WeatherList {
    width: 95vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#WeatherList > div {
    display: inline-block;
}

#PreviousSearches {
    margin: 5px;
}

#CurrentWeatherCondition {
    font-size: 150%;
}

#CityInput > * {
    vertical-align: middle;
    box-sizing: content-box;
    padding: 5px;
    margin: 0;
}
