<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Weather</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="Root"></div>

        <% if (htmlWebpackPlugin.options.productionMode) { %>
        <script src="libraries/react.production.min.js"></script>
        <script src="libraries/react-dom.production.min.js"></script>
        <% } else { %>
        <script src="./node_modules/react/umd/react.development.js"></script>
        <script src="./node_modules/react-dom/umd/react-dom.development.js"></script>
        <% } %>
    </body>
</html>
